.card{
    position: relative;
}

.front {
    width: 100px;
    height: 100px;
    object-fit:fill;  
  }
  
.back{
    width: 100px;
    height: 100px;
    background-color:#4E4459;
    border:solid 1px white;
  }
  

