button{
  background: navy;
  border:2px solid white;
  border-radius: 5px;
  color: white;
  font-size:1em;
}

.container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}
